
<footer class="footer p-10 bg-base-300 text-base-content">
    <aside>
        <i class="fa-solid fa-brain fa-2x text-primary"></i>
        <p><span class="font-bold">{{ settings.PROJECT_NAME }}</span><br>Providing reliable tech solutions since 2024.</p>
    </aside>
    <nav>
        <h6 class="footer-title">Services</h6>
        <a class="link link-hover">Audio Enhancement</a>
        <a class="link link-hover">Text-to-Speech</a>
        <a class="link link-hover">Image Generation</a>
    </nav>
    <nav>
        <h6 class="footer-title">Company</h6>
        <a href="/policy" class="link link-hover">Privacy Policy</a>
        <a class="link link-hover">Contact us</a>
    </nav>
    <nav>
        <h6 class="footer-title">Legal</h6>
        <a href="/policy" class="link link-hover">Terms of use</a>
        <a href="/policy" class="link link-hover">Privacy policy</a>
    </nav>
</footer>
